<div class="search">
  <form (ngSubmit)="onSearch()" #f="ngForm">
    <input
      type="text"
      placeholder="Seach city"
      name="city"
      [(ngModel)]="theCity"
      required
    />
    <button type="submit">Search</button>
  </form>
</div>

<div class="loading-form" *ngIf="loading">
  <app-loading-spinner></app-loading-spinner>
</div>

<div class="error-form" *ngIf="errorMsg && !loading">
  <div>{{ errorMsg }}</div>
</div>

<div class="container" *ngIf="weatherData && !errorMsg && !loading">
  <div class="upper-data">
    <img
      src="../assets/cold.jpg"
      alt="cold-weather"
      *ngIf="weatherData.main.temp < 10"
    />
    <img
      src="../assets/summer.jpg"
      alt="hot-weather"
      *ngIf="weatherData.main.temp >= 10"
    />

    <div class="weather-data">
      <div class="location">{{ weatherData.name }}</div>
      <div class="temperature">
        {{ weatherData.main.temp | number : "1.0-0" }}°C
      </div>
    </div>
  </div>

  <div class="lower-data">
    <div class="more-info-label">More Information</div>

    <div class="more-info-container">
      <div class="info-block">
        <div class="info-block-label">
          <img src="../assets/thermo.png" alt="" />
          <span>min</span>
        </div>
        <div class="info-block-value">
          {{ weatherData.main.temp_min | number : "1.0-0" }}°C
        </div>
      </div>

      <div class="info-block">
        <div class="info-block-label">
          <img src="../assets/thermo.png" alt="" />
          <span>max</span>
        </div>
        <div class="info-block-value">
          {{ weatherData.main.temp_max | number : "1.0-0" }}°C
        </div>
      </div>

      <div class="info-block">
        <div class="info-block-label">
          <img src="../assets/humidity.png" alt="" />
          <span>humidity</span>
        </div>
        <div class="info-block-value">{{ weatherData.main.humidity }}%</div>
      </div>

      <div class="info-block">
        <div class="info-block-label">
          <img src="../assets/wind.png" alt="" />
          <span>wind</span>
        </div>
        <div class="info-block-value">{{ weatherData.wind.speed }} km/hr</div>
      </div>
    </div>
  </div>
</div>
